<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="text-center my-auto">
            <span>&copy; @DateTime.Now.Year BloggerPro Admin Panel</span>
        </div>
    </div>
</footer>
