<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <span class="ms-2 fw-bold text-dark">Yönetim Paneli</span>

    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <span class="me-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                <img class="img-profile rounded-circle" src="https://via.placeholder.com/40" />
            </a>
        </li>
    </ul>
</nav>
