@model BloggerProUI.Models.Tag.TagDto
@{
    ViewData["Title"] = "Etiket Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="h3 mb-4 text-gray-800">Etiket Düzenle</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Etiket Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Güncelle</button>
            <a asp-area="Admin" asp-controller="Tag" asp-action="Index" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
